.show-posts .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.show-posts .box-container .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  overflow: hidden;
}

.show-posts .box-container .box .image {
  height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.show-posts .box-container .box .status {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  display: inline-block;
  margin-bottom: 1rem;
}

.show-posts .box-container .box .title {
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 0;
  min-width: 100%;
}

.show-posts .box-container .box .options {
  font-size: 1.8rem;
  margin: 0 0 0 0;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 0;
  min-width: 100%;
}

.show-posts .box-container .box .posts-content {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.5;
  padding: 1rem 0;
}

.show-posts .box-container .box .posts-content::after {
  content: "...";
}

.show-posts .box-container .box .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  border: var(--border);
  margin: 0.5rem 0;
}

.show-posts .box-container .box .icons div {
  font-size: 1.8rem;
}

.show-posts .box-container .box .icons div span {
  color: var(--main-color);
}

.show-posts .box-container .box .icons div i {
  color: var(--light-color);
  margin-right: 0.5rem;
}

/* media queries  */
@media (max-width: 450px) {
  .show-posts .box-container {
    grid-template-columns: 1fr;
  }
}
